/*
Theme Name: Angular template
Author: Nikita Picovec
Author Email: nik.adrenalin@gmail.com
*/
/* line 15, ../sass/main.scss */
html {
  margin: 0 !important;
}

/* line 18, ../sass/main.scss */
body {
  background: #161515;
  margin: 0;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  font: 300 14px 'Open Sans', sans-serif;
}

/* line 31, ../sass/main.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

/* line 1, ../sass/reset-css.scss */
img {
  border-style: none;
}

/* line 2, ../sass/reset-css.scss */
input,
textarea,
select {
  color: #3c3e3e;
  vertical-align: middle;
  font: 100% Raleway, sans-serif;
}

/* line 9, ../sass/reset-css.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  cursor: pointer;
}

/* line 16, ../sass/reset-css.scss */
form, fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

/* line 21, ../sass/reset-css.scss */
blockquote, q {
  quotes: none;
}

/* line 22, ../sass/reset-css.scss */
q:before,
q:after {
  content: '';
}

/* line 24, ../sass/reset-css.scss */
a {
  color: #fff;
  text-decoration: none;
  letter-spacing: initial;
}
/* line 27, ../sass/reset-css.scss */
a:hover {
  color: #fff;
  text-decoration: none;
}

/* line 33, ../sass/reset-css.scss */
img {
  vertical-align: top;
}

/* line 34, ../sass/reset-css.scss */
a:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

/* line 38, ../sass/reset-css.scss */
ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 43, ../sass/reset-css.scss */
p, h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* line 48, ../sass/reset-css.scss */
button {
  border: 2px solid #444;
  text-transform: uppercase;
  padding: 9px 24px;
  background: none;
}

/* line 54, ../sass/reset-css.scss */
ul {
  list-style: none;
  padding: 0;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes lineGrow {
  from {
    width: 0;
  }
  to {
    width: 50px;
  }
}
/* Standard syntax */
@-webkit-keyframes lineGrow {
  from {
    width: 0;
  }
  to {
    width: 50px;
  }
}
@keyframes lineGrow {
  from {
    width: 0;
  }
  to {
    width: 50px;
  }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes lineGrowNormal {
  from {
    width: 0;
  }
  to {
    width: 100px;
  }
}
/* Standard syntax */
@keyframes lineGrowNormal {
  from {
    width: 0;
  }
  to {
    width: 100px;
  }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes lineGrowBig {
  from {
    width: 0;
  }
  to {
    width: 100px;
  }
}
/* Standard syntax */
@keyframes lineGrowBig {
  from {
    width: 0;
  }
  to {
    width: 100px;
  }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes lineGrowSuperBig {
  from {
    width: 0;
  }
  to {
    width: 270px;
  }
}
/* Standard syntax */
@keyframes lineGrowSuperBig {
  from {
    width: 0;
  }
  to {
    width: 270px;
  }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes lineGrowMiddle {
  from {
    width: 0;
  }
  to {
    width: 180px;
  }
}
/* Standard syntax */
@keyframes lineGrowMiddle {
  from {
    width: 0;
  }
  to {
    width: 180px;
  }
}
/* line 110, ../sass/main.scss */
html {
  overflow-y: scroll;
}

/* line 113, ../sass/main.scss */
noskype {
  color: #161515;
}

/* line 118, ../sass/main.scss */
.modal .block_wrap .block h2:before, .modal .block_wrap .block h2:after, .title_wrap h1 span.first:before, .title_wrap h1 span.last:after, .breadcrums ul li:before, .option_page .info_block .right ul li:before {
  content: '';
  display: block;
  position: absolute;
}

/* line 127, ../sass/main.scss */
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  display: block;
}

/* line 134, ../sass/main.scss */
.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

/* line 145, ../sass/main.scss */
.visible {
  display: block !important;
}

/* line 148, ../sass/main.scss */
.hide {
  display: none !important;
}

/* line 152, ../sass/main.scss */
.button {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid #fff;
  padding: 7px 50px;
}
/* line 159, ../sass/main.scss */
.button:hover {
  color: #fff;
}

/* line 163, ../sass/main.scss */
a.button {
  -moz-transition: 1;
  -o-transition: 1;
  -webkit-transition: 1;
  transition: 1;
}
/* line 165, ../sass/main.scss */
a.button:hover {
  border-color: #ffed00;
  background: #ffed00;
  color: #000;
}

/* line 172, ../sass/main.scss */
.yellow_title {
  text-transform: uppercase;
  color: #ffed00;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  font-size: 24px;
  margin-top: 26px;
}

/* line 182, ../sass/main.scss */
.video {
  text-align: center;
  margin-top: 26px;
}
/* line 185, ../sass/main.scss */
.video iframe {
  border: none;
}

/* line 193, ../sass/main.scss */
.slick-dots li {
  display: inline-block;
}
/* line 195, ../sass/main.scss */
.slick-dots li button {
  position: relative;
  width: 15px;
  height: 15px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #ffed00;
  color: #fff;
  margin: 0 22px;
  padding: 0;
}
/* line 205, ../sass/main.scss */
.slick-dots li button:after {
  content: '';
  display: block;
  position: absolute;
  width: 46px;
  height: 3px;
  top: 50%;
  margin-top: -2px;
  right: 100%;
  background: #ffed00;
}
/* line 217, ../sass/main.scss */
.slick-dots li button:last-child:before {
  content: '';
  display: block;
  position: absolute;
  width: 46px;
  height: 3px;
  top: 50%;
  margin-top: -2px;
  right: -46px;
  background: #ffed00;
}
/* line 232, ../sass/main.scss */
.slick-dots li.slick-active button {
  background: #ffed00;
}

/* line 240, ../sass/main.scss */
.form {
  font-family: 'Fira Sans', sans-serif;
}
/* line 242, ../sass/main.scss */
.form .corner_hover {
  margin-bottom: 25px;
  padding: 5px;
}
/* line 245, ../sass/main.scss */
.form .corner_hover input {
  background: none;
  border: none;
  font-size: 14px;
  width: 90%;
  color: #fff;
}
/* line 252, ../sass/main.scss */
.form .corner_hover input::-webkit-input-placeholder {
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
}
/* line 253, ../sass/main.scss */
.form .corner_hover input::-moz-placeholder {
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
}
/* line 254, ../sass/main.scss */
.form .corner_hover input:-moz-placeholder {
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
}
/* line 255, ../sass/main.scss */
.form .corner_hover input:-ms-input-placeholder {
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
}
/* line 258, ../sass/main.scss */
.form .corner_hover input:focus::-webkit-input-placeholder {
  color: #161515;
}
/* line 259, ../sass/main.scss */
.form .corner_hover input:focus::-moz-placeholder {
  color: #161515;
}
/* line 260, ../sass/main.scss */
.form .corner_hover input:focus:-moz-placeholder {
  color: #161515;
}
/* line 261, ../sass/main.scss */
.form .corner_hover input:focus:-ms-input-placeholder {
  color: #161515;
}
/* line 266, ../sass/main.scss */
.form input[type="submit"] {
  background: #ffed00;
  text-transform: uppercase;
  margin-top: 5px;
  padding: 6px 34px;
  padding-top: 9px;
  border: none;
}
/* line 274, ../sass/main.scss */
.form input[type="submit"]:hover {
  background: #fff;
}

/* line 284, ../sass/main.scss */
.modal {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
}
/* line 290, ../sass/main.scss */
.modal .block_wrap {
  z-index: 101;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 306, ../sass/main.scss */
.modal .block_wrap .block {
  text-align: center;
  padding: 30px 70px;
  background: #161515;
  border: 3px solid #fff;
}
/* line 311, ../sass/main.scss */
.modal .block_wrap .block h2 {
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
  font-size: 24px;
  color: #ffed00;
}
/* line 317, ../sass/main.scss */
.modal .block_wrap .block h2:before {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 3px solid #ffed00;
  background: none;
  right: -20px;
  top: 12px;
}
/* line 327, ../sass/main.scss */
.modal .block_wrap .block h2:after {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 3px solid #ffed00;
  background: none;
  left: -20px;
  top: 12px;
}

/* line 344, ../sass/main.scss */
.title_wrap {
  clear: both;
  text-align: center;
}
/* line 347, ../sass/main.scss */
.title_wrap h1 {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  font-size: 29px;
  margin-top: 45px;
}
/* line 354, ../sass/main.scss */
.title_wrap h1 span.first {
  position: relative;
  display: inline;
  width: 1px;
  color: #161515;
}
/* line 359, ../sass/main.scss */
.title_wrap h1 span.first:before {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 3px solid #ffed00;
  background: none;
  left: -17px;
  top: 14px;
}
/* line 370, ../sass/main.scss */
.title_wrap h1 span.last {
  position: relative;
  display: inline;
  width: 1px;
  color: #161515;
}
/* line 375, ../sass/main.scss */
.title_wrap h1 span.last:after {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 3px solid #ffed00;
  background: none;
  right: -14px;
  top: 16px;
}

/* line 391, ../sass/main.scss */
.corner_hover {
  border: none;
  position: relative;
}
/* line 397, ../sass/main.scss */
.corner_hover:hover .left_top {
  left: 3px;
  top: 3px;
}
/* line 401, ../sass/main.scss */
.corner_hover:hover .left_bottom {
  left: 3px;
  bottom: 3px;
}
/* line 405, ../sass/main.scss */
.corner_hover:hover .right_top {
  right: 3px;
  top: 3px;
}
/* line 409, ../sass/main.scss */
.corner_hover:hover .right_bottom {
  right: 3px;
  bottom: 3px;
}
/* line 414, ../sass/main.scss */
.corner_hover .left_top, .corner_hover .left_bottom, .corner_hover .right_top, .corner_hover .right_bottom {
  position: absolute;
  width: 10px;
  height: 10px;
  -moz-transition: all 0.4s ease-out 0.2s;
  -o-transition: all 0.4s ease-out 0.2s;
  -webkit-transition: all 0.4s ease-out;
  -webkit-transition-delay: 0.2s;
  transition: all 0.4s ease-out 0.2s;
}
/* line 420, ../sass/main.scss */
.corner_hover .left_top {
  left: 0;
  top: 0;
  border-left: 2px solid #ffed00;
  border-top: 2px solid #ffed00;
}
/* line 426, ../sass/main.scss */
.corner_hover .left_bottom {
  bottom: 0;
  left: 0;
  border-left: 2px solid #ffed00;
  border-bottom: 2px solid #ffed00;
  width: 10px;
  height: 10px;
}
/* line 434, ../sass/main.scss */
.corner_hover .right_top {
  top: 0;
  right: 0;
  border-top: 2px solid #ffed00;
  border-right: 2px solid #ffed00;
}
/* line 440, ../sass/main.scss */
.corner_hover .right_bottom {
  bottom: 0;
  right: 0;
  border-bottom: 2px solid #ffed00;
  border-right: 2px solid #ffed00;
}

/* line 450, ../sass/main.scss */
.breadcrums {
  margin-top: 33px;
}
/* line 453, ../sass/main.scss */
.breadcrums ul li {
  display: inline-block;
  position: relative;
  margin-right: 16px;
}
/* line 458, ../sass/main.scss */
.breadcrums ul li:before {
  width: 4px;
  height: 4px;
  background: #ffed00;
  right: -10px;
  top: 9px;
}
/* line 466, ../sass/main.scss */
.breadcrums ul li:last-child:before {
  display: none;
}
/* line 469, ../sass/main.scss */
.breadcrums ul li:hover a {
  color: #ffed00;
}
/* line 472, ../sass/main.scss */
.breadcrums ul li a.active {
  color: #ffed00;
}

/* line 481, ../sass/main.scss */
.wrapper {
  overflow: hidden;
  padding-bottom: 50px;
}

/* line 485, ../sass/main.scss */
.container {
  width: 1280px;
  margin: auto;
  position: relative;
}

/* line 491, ../sass/main.scss */
.header {
  background: #161515;
}

/* line 494, ../sass/main.scss */
header {
  text-transform: uppercase;
  position: relative;
  border-bottom: 3px solid #ffed00;
}
/* line 498, ../sass/main.scss */
header .logo {
  display: block;
  text-indent: -9999px;
  position: relative;
  width: 180px;
  height: 60px;
  background: #ffed00;
  float: left;
}
/* line 507, ../sass/main.scss */
header .logo img {
  position: absolute;
  bottom: -21px;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background: url(../img/img_001.png) no-repeat center;
}
/* line 516, ../sass/main.scss */
header .search_toogle {
  cursor: pointer;
  margin-top: 20px;
  margin-left: 42px;
  float: left;
  width: 25px;
  height: 25px;
  background: url(../img/img_002.png) no-repeat center;
}
/* line 526, ../sass/main.scss */
header .close_search {
  background: url(../img/img_015.png) no-repeat center;
}
/* line 529, ../sass/main.scss */
header .custom_select {
  cursor: pointer;
  position: relative;
  float: left;
  margin-top: 21px;
  margin-left: 40px;
  background: none;
  border: none;
  color: #fff;
}
/* line 539, ../sass/main.scss */
header .custom_select:after {
  content: '';
  display: block;
  display: block;
  position: absolute;
  width: 18px;
  height: 10px;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background: url(../img/img_003.png) no-repeat center;
}
/* line 550, ../sass/main.scss */
header .custom_select .all_optionns {
  display: none;
  position: absolute;
  border: 2px solid #ffed00;
  background-color: #161515;
  padding: 6px;
  min-width: 60px;
  text-align: center;
  z-index: 10;
  top: 20px;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
/* line 563, ../sass/main.scss */
header .custom_select .all_optionns li {
  cursor: pointer;
  vertical-align: middle;
  line-height: 1.2;
}
/* line 567, ../sass/main.scss */
header .custom_select .all_optionns li:hover {
  color: #ffed00;
}

/* line 577, ../sass/main.scss */
.search_wrap {
  position: relative;
  float: left;
  overflow: hidden;
}
/* line 581, ../sass/main.scss */
.search_wrap nav {
  margin-top: 15px;
  margin-left: 60px;
  float: left;
}
/* line 586, ../sass/main.scss */
.search_wrap nav ul li {
  display: inline-block;
  text-align: center;
  margin: 0 28px;
  vertical-align: top;
}
/* line 591, ../sass/main.scss */
.search_wrap nav ul li a {
  color: #fff;
}
/* line 595, ../sass/main.scss */
.search_wrap nav ul li:hover > a {
  color: #ffed00;
}
/* line 599, ../sass/main.scss */
.search_wrap nav ul li:last-child {
  margin-right: 0;
  line-height: 2;
}
/* line 603, ../sass/main.scss */
.search_wrap nav ul li:first-child {
  margin-left: 0;
}
/* line 609, ../sass/main.scss */
.search_wrap button.button {
  float: left;
  margin-top: 16px;
  margin-left: 56px;
  padding: 6px 18px;
}
/* line 615, ../sass/main.scss */
.search_wrap form {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 10px;
}
/* line 620, ../sass/main.scss */
.search_wrap form input {
  text-align: center;
  display: none;
  position: absolute;
  left: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
  background: #6A6A6A;
  width: 100%;
  color: #fff;
  margin: 6px 30px;
  margin-bottom: 0;
  margin-left: 7px;
  font-size: 16px;
  padding: 0 30px;
  height: 100%;
}
/* line 636, ../sass/main.scss */
.search_wrap form input::-webkit-input-placeholder {
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
}
/* line 637, ../sass/main.scss */
.search_wrap form input::-moz-placeholder {
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
}
/* line 638, ../sass/main.scss */
.search_wrap form input:-moz-placeholder {
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
}
/* line 639, ../sass/main.scss */
.search_wrap form input:-ms-input-placeholder {
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
}

/* line 647, ../sass/main.scss */
.main_block {
  position: relative;
  background-size: cover;
  background: url(../img/img_004.jpeg) no-repeat center;
  padding: 136px 0;
  text-align: center;
}
/* line 654, ../sass/main.scss */
.main_block .container {
  z-index: 100;
}
/* line 658, ../sass/main.scss */
.main_block:after {
  display: block;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
}
/* line 667, ../sass/main.scss */
.main_block .slider_wrap {
  position: relative;
  width: 825px;
  margin: auto;
}
/* line 672, ../sass/main.scss */
.main_block .slider_wrap:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-left: 3px solid #ffed00;
  border-top: 3px solid #ffed00;
  width: 70px;
  height: 70px;
  display: block;
}
/* line 684, ../sass/main.scss */
.main_block .slider_wrap:after {
  content: '';
  display: block;
  bottom: 0;
  left: 0;
  position: absolute;
  border-left: 3px solid #ffed00;
  border-bottom: 3px solid #ffed00;
  width: 70px;
  height: 70px;
}
/* line 697, ../sass/main.scss */
.main_block .slider_wrap .main_slider {
  position: relative;
  padding: 40px;
}
/* line 701, ../sass/main.scss */
.main_block .slider_wrap .main_slider:before {
  content: '';
  display: block;
  top: 0;
  right: 0;
  position: absolute;
  border-top: 3px solid #ffed00;
  border-right: 3px solid #ffed00;
  width: 70px;
  height: 70px;
  display: block;
}
/* line 713, ../sass/main.scss */
.main_block .slider_wrap .main_slider:after {
  content: '';
  display: block;
  bottom: 0;
  right: 0;
  position: absolute;
  border-bottom: 3px solid #ffed00;
  border-right: 3px solid #ffed00;
  width: 70px;
  height: 70px;
  display: block;
}
/* line 726, ../sass/main.scss */
.main_block .slider_wrap .main_slider h2 {
  text-transform: uppercase;
}
/* line 729, ../sass/main.scss */
.main_block .slider_wrap .main_slider p {
  margin-top: 13px;
  font-size: 18px;
}
/* line 733, ../sass/main.scss */
.main_block .slider_wrap .main_slider .button {
  margin-top: 57px;
}
/* line 736, ../sass/main.scss */
.main_block .slider_wrap .main_slider .slick-dots {
  position: absolute;
  bottom: -11px;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

/* line 748, ../sass/main.scss */
.mark_block {
  position: relative;
  border-top: 3px solid #ffed00;
  border-bottom: 3px solid #ffed00;
  height: 95px;
}
/* line 753, ../sass/main.scss */
.mark_block .block {
  z-index: 100;
  background: #161515;
  position: absolute;
  left: 50%;
  width: 265px;
  height: 265px;
  border-radius: 50%;
  border: 3px solid #ffed00;
  text-align: center;
  -moz-transform: translate(-50%, -32%);
  -ms-transform: translate(-50%, -32%);
  -webkit-transform: translate(-50%, -32%);
  transform: translate(-50%, -32%);
}
/* line 764, ../sass/main.scss */
.mark_block .block h3 {
  margin-top: 60px;
  text-transform: uppercase;
  font-size: 29px;
}
/* line 769, ../sass/main.scss */
.mark_block .block p {
  margin-top: 20px;
}

/* line 777, ../sass/main.scss */
.tovars {
  margin-top: 110px;
}
/* line 779, ../sass/main.scss */
.tovars .content {
  width: 745px;
  margin: auto;
}
/* line 782, ../sass/main.scss */
.tovars .content .block {
  height: 253px;
  width: 33.333%;
  position: relative;
  overflow: hidden;
  z-index: 2;
  border: 2px solid #161515;
  float: left;
}
/* line 790, ../sass/main.scss */
.tovars .content .block:hover .front {
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
/* line 794, ../sass/main.scss */
.tovars .content .block:hover .back {
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}
/* line 797, ../sass/main.scss */
.tovars .content .block:hover .back .bottom .left_line {
  -webkit-animation-name: lineGrow;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s;
  /* Chrome, Safari, Opera */
  -webkit-animation-name: lineGrow;
  animation-name: lineGrow;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 808, ../sass/main.scss */
.tovars .content .block:hover .back .bottom .right_line {
  -webkit-animation-name: lineGrow;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s;
  /* Chrome, Safari, Opera */
  -webkit-animation-name: lineGrow;
  animation-name: lineGrow;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 823, ../sass/main.scss */
.tovars .content .block .cont_wrap {
  -moz-transform-style: rotateY(preserve-3d);
  -webkit-transform-style: rotateY(preserve-3d);
  transform-style: rotateY(preserve-3d);
  position: relative;
}
/* line 826, ../sass/main.scss */
.tovars .content .block .cont_wrap .front,
.tovars .content .block .cont_wrap .back {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
}
/* line 840, ../sass/main.scss */
.tovars .content .front {
  top: 0;
  z-index: 2;
  padding-top: 50px;
  width: 33.333%;
  float: left;
  text-align: center;
  height: 250px;
  padding: 1px;
}
/* line 851, ../sass/main.scss */
.tovars .content .front img {
  width: 100%;
  height: auto;
  min-height: 280px;
}
/* line 858, ../sass/main.scss */
.tovars .content .back {
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  z-index: 1;
  background-color: #2cb4e8;
  text-align: center;
  position: relative;
  border: 2px solid #fff;
  background: #161515;
  width: 100%;
  height: 100%;
  z-index: -1;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 870, ../sass/main.scss */
.tovars .content .back .title {
  position: relative;
  height: 200px;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  padding-bottom: 30px;
}
/* line 875, ../sass/main.scss */
.tovars .content .back .title h3 {
  line-height: 21px;
  text-transform: uppercase;
  font-style: 16px;
}
/* line 880, ../sass/main.scss */
.tovars .content .back .title a {
  display: block;
  bottom: -10px;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background: #161515;
  position: absolute;
  padding: 0 30px;
  color: #fff;
}
/* line 891, ../sass/main.scss */
.tovars .content .back .bottom {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 897, ../sass/main.scss */
.tovars .content .back .bottom .left_line {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  border-top: 2px solid;
}
/* line 904, ../sass/main.scss */
.tovars .content .back .bottom .left_line:after {
  content: '';
  display: block;
  display: block;
  position: absolute;
  margin-top: -5px;
  width: 6px;
  height: 6px;
  border: 2px solid #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  top: 50%;
  right: -9px;
}
/* line 918, ../sass/main.scss */
.tovars .content .back .bottom .right_line {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  border-top: 2px solid;
}
/* line 925, ../sass/main.scss */
.tovars .content .back .bottom .right_line:after {
  content: '';
  display: block;
  display: block;
  position: absolute;
  margin-top: -5px;
  width: 6px;
  height: 6px;
  border: 2px solid #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  top: 50%;
  left: -8px;
}
/* line 941, ../sass/main.scss */
.tovars .content .big {
  width: 66.667%;
}
/* line 944, ../sass/main.scss */
.tovars .content .big:hover .back .bottom .right_line, .tovars .content .big:hover .back .bottom .left_line {
  -webkit-animation-name: lineGrowSuperBig !important;
  /* Chrome, Safari, Opera */
  animation-name: lineGrowSuperBig !important;
}
/* line 948, ../sass/main.scss */
.tovars .content .middle {
  width: 50%;
}
/* line 951, ../sass/main.scss */
.tovars .content .middle:hover .back .bottom .right_line, .tovars .content .middle:hover .back .bottom .left_line {
  -webkit-animation-name: lineGrowMiddle !important;
  /* Chrome, Safari, Opera */
  animation-name: lineGrowMiddle !important;
}

/* line 960, ../sass/main.scss */
.projects {
  position: relative;
  margin-top: 68px;
}
/* line 963, ../sass/main.scss */
.projects .container {
  position: relative;
}
/* line 965, ../sass/main.scss */
.projects .container .top_line {
  position: absolute;
  top: 83px;
  left: 0;
  border-top: 3px solid #ffed00;
  z-index: 5;
}
/* line 972, ../sass/main.scss */
.projects .container .right_line {
  position: absolute;
  top: 83px;
  left: 95%;
  border-right: 3px solid #ffed00;
  z-index: 5;
}
/* line 979, ../sass/main.scss */
.projects .container .bottom_line {
  position: absolute;
  top: 657px;
  right: 61px;
  border-top: 3px solid #ffed00;
  z-index: 5;
}
/* line 985, ../sass/main.scss */
.projects .container .bottom_line .circle {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: -9px;
  width: 10px;
  height: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #ffed00;
}
/* line 999, ../sass/main.scss */
.projects .head {
  padding: 13px 31px;
  color: #161515;
  width: 430px;
  background: #ffed00;
}
/* line 1005, ../sass/main.scss */
.projects .head h2 {
  font-size: 27px;
  text-transform: uppercase;
}
/* line 1009, ../sass/main.scss */
.projects .head p {
  margin-top: 3px;
  text-align: center;
}
/* line 1014, ../sass/main.scss */
.projects .slider_wrap {
  position: relative;
  height: 100%;
  width: 100%;
}
/* line 1018, ../sass/main.scss */
.projects .slider_wrap svg {
  position: absolute;
  left: -3px;
  right: -3px;
  top: -3px;
  bottom: -3px;
  z-index: 1;
}
/* line 1024, ../sass/main.scss */
.projects .projects_slider {
  position: relative;
  z-index: 3;
}
/* line 1027, ../sass/main.scss */
.projects .projects_slider .slick-dots {
  position: absolute;
  bottom: 16px;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
/* line 1033, ../sass/main.scss */
.projects .projects_slider .block {
  position: relative;
  min-height: 520px;
}
/* line 1036, ../sass/main.scss */
.projects .projects_slider .block .overlay {
  padding: 30px 40px;
  position: absolute;
  top: 0;
  width: 51%;
  right: 7%;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
}
/* line 1044, ../sass/main.scss */
.projects .projects_slider .block .overlay .trigger {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 25px;
  padding: 4px;
  font-size: 12px;
}
/* line 1052, ../sass/main.scss */
.projects .projects_slider .block .overlay .trigger:before {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  right: -16px;
  width: 15px;
  height: 15px;
  background: url(../img/img_003.png) no-repeat center;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 1064, ../sass/main.scss */
.projects .projects_slider .block .overlay h3 {
  text-transform: uppercase;
  color: #ffed00;
  font-size: 24px;
}
/* line 1069, ../sass/main.scss */
.projects .projects_slider .block .overlay b {
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  font-weight: normal;
  margin-top: 21px;
  display: block;
  line-height: 26px;
  margin-bottom: 27px;
}
/* line 1078, ../sass/main.scss */
.projects .projects_slider .block .overlay p {
  font-size: 16px;
  margin-top: 20px;
  line-height: 23px;
  padding-left: 47px;
  padding-right: 22px;
  text-align: left;
  font-family: 'Fira Sans', sans-serif;
}
/* line 1089, ../sass/main.scss */
.projects .projects_slider .block .folded .trigger {
  top: 18px;
  right: 45%;
}

/* line 1100, ../sass/main.scss */
.about_company {
  margin-top: 50px;
  margin-top: 41px;
  padding-bottom: 40px;
}
/* line 1104, ../sass/main.scss */
.about_company .block {
  background: url(../img/img_005.png) no-repeat left 23px;
  padding-left: 38%;
  padding-right: 50px;
}
/* line 1108, ../sass/main.scss */
.about_company .block h2 {
  text-transform: uppercase;
}
/* line 1111, ../sass/main.scss */
.about_company .block p {
  font-family: 'Fira Sans', sans-serif;
  margin-top: 32px;
  font-size: 16px;
  line-height: 26px;
}
/* line 1117, ../sass/main.scss */
.about_company .block a {
  position: relative;
  display: inline-block;
  margin-top: 38px;
  text-transform: uppercase;
  color: #fff;
  font-size: 17px;
}
/* line 1125, ../sass/main.scss */
.about_company .block a:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  background: url(../img/img_003.png) no-repeat center;
  display: block;
  width: 18px;
  height: 10px;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  bottom: -15px;
}

/* line 1144, ../sass/main.scss */
footer {
  margin-top: 56px;
}
/* line 1146, ../sass/main.scss */
footer .container {
  padding: 15px 90px;
  position: relative;
}
/* line 1150, ../sass/main.scss */
footer .container .title {
  color: #ffed00;
}
/* line 1154, ../sass/main.scss */
footer .container .top_line {
  position: absolute;
  top: 0;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  border-top: 3px solid #ffed00;
  z-index: 5;
}
/* line 1162, ../sass/main.scss */
footer .container .left_line {
  position: absolute;
  top: 0;
  left: 0;
  border-left: 3px solid #ffed00;
  z-index: 5;
}
/* line 1169, ../sass/main.scss */
footer .container .right_line {
  position: absolute;
  top: 0;
  right: 0;
  border-right: 3px solid #ffed00;
  z-index: 5;
}
/* line 1176, ../sass/main.scss */
footer .container .right_bottom_line {
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 3px solid #ffed00;
  z-index: 5;
}
/* line 1182, ../sass/main.scss */
footer .container .right_bottom_line .circle {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: -9px;
  width: 10px;
  height: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #ffed00;
}
/* line 1194, ../sass/main.scss */
footer .container .left_bottom_line {
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 3px solid #ffed00;
  z-index: 5;
}
/* line 1200, ../sass/main.scss */
footer .container .left_bottom_line .circle {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: -9px;
  width: 10px;
  height: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #ffed00;
}
/* line 1213, ../sass/main.scss */
footer .container .created {
  z-index: 1;
  position: absolute;
  left: 50%;
  bottom: -12px;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
/* line 1220, ../sass/main.scss */
footer .container .block {
  float: left;
  width: 27%;
  padding-right: 20px;
}
/* line 1224, ../sass/main.scss */
footer .container .block .title {
  font-size: 17px;
  text-transform: uppercase;
  font-family: 'Fira Sans', sans-serif;
}
/* line 1229, ../sass/main.scss */
footer .container .block ul {
  margin-top: 6px;
}
/* line 1231, ../sass/main.scss */
footer .container .block ul li {
  line-height: 18px;
  color: #fff !important;
}
/* line 1234, ../sass/main.scss */
footer .container .block ul li a {
  font-size: 12px;
  word-spacing: 4px;
  color: #fff;
}
/* line 1242, ../sass/main.scss */
footer .container .block:first-child {
  padding-left: 0;
}
/* line 1245, ../sass/main.scss */
footer .container .block:nth-of-type(2) {
  width: 31%;
}
/* line 1248, ../sass/main.scss */
footer .container .block:nth-of-type(3) {
  width: 20%;
}
/* line 1251, ../sass/main.scss */
footer .container .block:last-child {
  width: 19%;
}
/* line 1255, ../sass/main.scss */
footer .container .block img {
  margin-top: 16px;
}

/* line 1264, ../sass/main.scss */
.error_page .error_block {
  background: url(../img/img_022.png) no-repeat center 43px;
  font-family: 'Fira Sans', sans-serif;
  padding-top: 572px;
  text-align: center;
  font-style: italic;
  font-size: 16px;
}
/* line 1271, ../sass/main.scss */
.error_page .error_block a {
  text-transform: uppercase;
  color: #ffed00;
}

/* line 1280, ../sass/main.scss */
.content_area {
  padding: 0 40px;
  margin: 0 40px;
  background: rgba(22, 21, 21, 0.8);
}
/* line 1284, ../sass/main.scss */
.content_area .img {
  margin-top: 53px;
  max-width: 100%;
}
/* line 1288, ../sass/main.scss */
.content_area .text {
  font-family: 'Fira Sans', sans-serif;
  margin-top: 26px;
  line-height: 26px;
  font-size: 16px;
}

/* line 1296, ../sass/main.scss */
.animate_article {
  position: relative;
  padding-top: 51px;
  background: url(../img/img_021.png) no-repeat 105% 46px;
}
/* line 1300, ../sass/main.scss */
.animate_article .top_line {
  position: absolute;
  top: 65px;
  right: 693px;
  border-top: 3px solid #ffed00;
  z-index: 5;
}
/* line 1307, ../sass/main.scss */
.animate_article .left_line {
  position: absolute;
  top: 65px;
  left: -37px;
  border-left: 3px solid #ffed00;
  z-index: 5;
}
/* line 1313, ../sass/main.scss */
.animate_article .left_line .circle {
  display: none;
  position: absolute;
  bottom: -9px;
  left: -6px;
  width: 10px;
  height: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #ffed00;
}
/* line 1324, ../sass/main.scss */
.animate_article h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
}
/* line 1329, ../sass/main.scss */
.animate_article .text {
  font-family: 'Fira Sans', sans-serif;
  margin-top: 42px;
  padding-right: 225px;
  line-height: 26px;
  font-size: 16px;
}

/* line 1339, ../sass/main.scss */
.done_project_page .tovars {
  margin-top: 58px;
}
/* line 1341, ../sass/main.scss */
.done_project_page .tovars .content {
  width: 81%;
}
/* line 1343, ../sass/main.scss */
.done_project_page .tovars .content .block {
  height: 345px;
}
/* line 1349, ../sass/main.scss */
.done_project_page .tovars .content .block:hover .back .bottom .left_line {
  -webkit-animation-name: lineGrowBig;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s;
  /* Chrome, Safari, Opera */
  -webkit-animation-name: lineGrowBig;
  animation-name: lineGrowBig;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 1360, ../sass/main.scss */
.done_project_page .tovars .content .block:hover .back .bottom .right_line {
  -webkit-animation-name: lineGrowBig;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s;
  /* Chrome, Safari, Opera */
  -webkit-animation-name: lineGrowBig;
  animation-name: lineGrowBig;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 1375, ../sass/main.scss */
.done_project_page .tovars .content .block .cont_wrap .front {
  height: 341px;
}
/* line 1378, ../sass/main.scss */
.done_project_page .tovars .content .block .cont_wrap .back {
  height: 341px;
}
/* line 1380, ../sass/main.scss */
.done_project_page .tovars .content .block .cont_wrap .back .title {
  height: 284px;
  padding-bottom: 90px;
}
/* line 1383, ../sass/main.scss */
.done_project_page .tovars .content .block .cont_wrap .back .title h3 {
  font-family: 'Fira Sans', sans-serif;
  line-height: 35px;
}
/* line 1387, ../sass/main.scss */
.done_project_page .tovars .content .block .cont_wrap .back .title a {
  bottom: -8px;
}
/* line 1391, ../sass/main.scss */
.done_project_page .tovars .content .block .cont_wrap .back .bottom {
  top: 281px;
}
/* line 1393, ../sass/main.scss */
.done_project_page .tovars .content .block .cont_wrap .back .bottom .left_line {
  border-top: 3px solid;
}
/* line 1396, ../sass/main.scss */
.done_project_page .tovars .content .block .cont_wrap .back .bottom .right_line {
  border-top: 3px solid;
}
/* line 1406, ../sass/main.scss */
.done_project_page .content_area {
  margin-bottom: 80px;
}

/* line 1413, ../sass/main.scss */
.for_factory_page .content_area {
  background: none;
}
/* line 1416, ../sass/main.scss */
.for_factory_page .tovars {
  margin-top: 56px;
}
/* line 1418, ../sass/main.scss */
.for_factory_page .tovars .content {
  width: 86%;
}
/* line 1420, ../sass/main.scss */
.for_factory_page .tovars .content .block {
  height: 280px;
}
/* line 1425, ../sass/main.scss */
.for_factory_page .tovars .content .block .cont_wrap .front, .for_factory_page .tovars .content .block .cont_wrap .back {
  height: 276px;
}
/* line 1428, ../sass/main.scss */
.for_factory_page .container_for_animArticle {
  background: url(../img/img_016.png) no-repeat 93% 67px;
}
/* line 1431, ../sass/main.scss */
.for_factory_page .animate_article {
  background: none;
  padding-left: 51px;
  padding-right: 70px;
}
/* line 1437, ../sass/main.scss */
.for_factory_page .tovars .block:hover .back .bottom .right_line, .for_factory_page .tovars .block:hover .back .bottom .left_line {
  -webkit-animation-name: lineGrowNormal;
  /* Chrome, Safari, Opera */
  animation-name: lineGrowNormal;
}
/* line 1443, ../sass/main.scss */
.for_factory_page .content_area {
  margin-bottom: 100px;
}
/* line 1445, ../sass/main.scss */
.for_factory_page .content_area .text {
  font-family: 'Fira Sans', sans-serif;
  margin-top: 26px;
  line-height: 26px;
  font-size: 16px;
}

/* line 1456, ../sass/main.scss */
.breadcrums ul {
  float: left;
}
/* line 1459, ../sass/main.scss */
.breadcrums .back {
  float: right;
  display: inline-block;
  padding-left: 35px;
  margin-right: 85px;
  background: url(../img/img_101.png) no-repeat 5px 5px;
}

/* line 1470, ../sass/main.scss */
.trek {
  padding: 0 14px;
  margin-top: 70px;
}
/* line 1473, ../sass/main.scss */
.trek .prev {
  display: block;
  float: left;
  padding-left: 35px;
  background: url(../img/img_105.png) no-repeat 11px 4px;
}
/* line 1480, ../sass/main.scss */
.trek .next {
  display: block;
  float: right;
  padding-right: 35px;
  background: url(../img/img_104.png) no-repeat 83px 4px;
}

/* line 1491, ../sass/main.scss */
.executed-project .container-slider {
  width: 1056px;
  margin: 0 auto;
}
/* line 1495, ../sass/main.scss */
.executed-project .container-slider .slider_wrap {
  width: 1056px;
  height: auto;
  margin: 26px auto 36px;
  overflow: hidden;
}
/* line 1502, ../sass/main.scss */
.executed-project .container-slider .main_slider {
  position: relative;
}
/* line 1505, ../sass/main.scss */
.executed-project .container-slider .main_slider .slick-dots {
  position: relative;
  top: -35px;
  text-align: center;
}
/* line 1515, ../sass/main.scss */
.executed-project .title {
  color: #ffed00;
}

/* line 1521, ../sass/main.scss */
.wrapper .breadcrums .back {
  margin-right: 110px;
}

/* line 1526, ../sass/main.scss */
.contacts-page .map {
  position: relative;
  width: 100%;
  height: 540px;
  margin: 46px auto 10px;
  overflow: hidden;
}
/* line 1533, ../sass/main.scss */
.contacts-page .map iframe {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
/* line 1543, ../sass/main.scss */
.contacts-page .map .contacts-wrapper {
  position: absolute;
  top: 0;
  left: 105px;
  background: #373635;
  opacity: .85;
  width: 340px;
  height: 100%;
}
/* line 1552, ../sass/main.scss */
.contacts-page .map .contacts-wrapper h2 {
  margin-bottom: 10px;
}
/* line 1556, ../sass/main.scss */
.contacts-page .map .contacts-wrapper .block {
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  margin-bottom: 6px;
  padding-top: 15px;
}
/* line 1562, ../sass/main.scss */
.contacts-page .map .contacts-wrapper .block li {
  color: #fff;
  font-size: 17px;
  line-height: 1.2;
}
/* line 1568, ../sass/main.scss */
.contacts-page .map .contacts-wrapper .block .time-work {
  margin-top: 19px;
}
/* line 1573, ../sass/main.scss */
.contacts-page .map .contacts-wrapper form.block {
  margin: 0;
}
/* line 1577, ../sass/main.scss */
.contacts-page .map .contacts-wrapper .title {
  color: #ffed00;
  text-align: center;
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 11px;
}
/* line 1585, ../sass/main.scss */
.contacts-page .map .contacts-wrapper .corner_hover {
  width: 72%;
  margin: 0 auto 25px;
}
/* line 1588, ../sass/main.scss */
.contacts-page .map .contacts-wrapper .corner_hover input[type="tel"], .contacts-page .map .contacts-wrapper .corner_hover input[type="text"] {
  width: 86%;
}
/* line 1593, ../sass/main.scss */
.contacts-page .map .contacts-wrapper input[type="submit"] {
  margin-top: 0;
  padding: 6px 49px;
}

/* line 1604, ../sass/main.scss */
.article-page h1 {
  margin-bottom: 40px;
}
/* line 1607, ../sass/main.scss */
.article-page .article {
  height: 326px;
  margin-bottom: 44px;
  border: 1px solid #ffed00;
}
/* line 1612, ../sass/main.scss */
.article-page .article .left_col {
  float: left;
  width: 429px;
  overflow: hidden;
}
/* line 1617, ../sass/main.scss */
.article-page .article .left_col img {
  width: 100%;
  height: auto;
}
/* line 1623, ../sass/main.scss */
.article-page .article .right_col {
  position: relative;
  float: right;
  width: 848px;
  text-align: center;
  padding-top: 44px;
}
/* line 1630, ../sass/main.scss */
.article-page .article .right_col h1 {
  margin-bottom: 40px;
  font: 24px/35px 'Fira Sans', sans-serif;
  text-transform: uppercase;
  color: #ffed00;
}
/* line 1637, ../sass/main.scss */
.article-page .article .right_col .article-date {
  position: absolute;
  left: 35px;
  top: 106px;
  font-size: 14px;
  font-family: 'Fira Sans', sans-serif;
  color: #a4a4a4;
}
/* line 1646, ../sass/main.scss */
.article-page .article .right_col p {
  text-align: left;
  margin-bottom: 30px;
  padding-left: 35px;
  line-height: 29px;
  height: 85px;
  overflow: hidden;
}
/* line 1655, ../sass/main.scss */
.article-page .article .right_col a {
  display: inline-block;
  margin-left: 20px;
  padding-right: 30px;
  background: url(../img/img_106.png) right center no-repeat;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}
/* line 1669, ../sass/main.scss */
.article-page footer {
  margin-top: 40px;
}
/* line 1672, ../sass/main.scss */
.article-page footer .container {
  width: 1255px;
}

/* line 1679, ../sass/main.scss */
.pagination {
  text-align: center;
  margin-top: 52px;
}
/* line 1683, ../sass/main.scss */
.pagination li {
  display: inline-block;
  min-width: 27px;
  height: 27px;
  text-align: center;
  margin: 0 4px;
}
/* line 1690, ../sass/main.scss */
.pagination li:first-child {
  margin-left: 0;
}
/* line 1694, ../sass/main.scss */
.pagination li:last-child {
  margin-right: 0;
}
/* line 1698, ../sass/main.scss */
.pagination li .prev {
  padding-left: 30px;
  background: url(../img/img_105.png) left center no-repeat;
}
/* line 1703, ../sass/main.scss */
.pagination li .next {
  padding-right: 30px;
  background: url(../img/img_104.png) right center no-repeat;
}
/* line 1709, ../sass/main.scss */
.pagination .corner_hover {
  position: relative;
  padding: 5px;
}
/* line 1713, ../sass/main.scss */
.pagination .corner_hover a {
  text-align: center;
}
/* line 1717, ../sass/main.scss */
.pagination .corner_hover .left_top, .pagination .corner_hover .left_bottom, .pagination .corner_hover .right_top, .pagination .corner_hover .right_bottom {
  position: absolute;
  height: 5px;
  width: 5px;
}
/* line 1723, ../sass/main.scss */
.pagination .corner_hover .left_top {
  left: 0;
  top: 0;
  border-left: 2px solid #ffed00;
  border-top: 2px solid #ffed00;
}
/* line 1729, ../sass/main.scss */
.pagination .corner_hover .left_bottom {
  bottom: 0;
  left: 0;
  border-left: 2px solid #ffed00;
  border-bottom: 2px solid #ffed00;
}
/* line 1735, ../sass/main.scss */
.pagination .corner_hover .right_top {
  top: 0;
  right: 0;
  border-top: 2px solid #ffed00;
  border-right: 2px solid #ffed00;
}
/* line 1741, ../sass/main.scss */
.pagination .corner_hover .right_bottom {
  bottom: 0;
  right: 0;
  border-bottom: 2px solid #ffed00;
  border-right: 2px solid #ffed00;
}

/* line 1752, ../sass/main.scss */
.search_page .search {
  width: 835px;
  margin: 58px auto 0;
}
/* line 1755, ../sass/main.scss */
.search_page .search .title {
  float: left;
  text-transform: uppercase;
  padding-top: 10px;
  color: #ffed00;
}
/* line 1761, ../sass/main.scss */
.search_page .search form {
  width: 87%;
  float: right;
}
/* line 1764, ../sass/main.scss */
.search_page .search form input[type="text"] {
  width: 85%;
  background: none;
  border: 2px solid #ffed00;
  height: 38px;
  text-transform: uppercase;
  padding: 0 15px;
  color: #fff;
}
/* line 1773, ../sass/main.scss */
.search_page .search form input[type="submit"] {
  text-transform: uppercase;
  background: #ffed00;
  width: 15%;
  height: 38px;
  border: none;
  margin-left: -5px;
}
/* line 1783, ../sass/main.scss */
.search_page .tovars {
  margin-top: 132px;
}
/* line 1785, ../sass/main.scss */
.search_page .tovars .content {
  width: 1075px;
}
/* line 1787, ../sass/main.scss */
.search_page .tovars .content .block {
  cursor: inherit;
  height: 364px;
}
/* line 1791, ../sass/main.scss */
.search_page .tovars .content .block .front img {
  width: auto;
  height: 360px;
  left: 50%;
  position: absolute;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
/* line 1803, ../sass/main.scss */
.search_page .tovars .content .block .cont_wrap .front, .search_page .tovars .content .block .cont_wrap .back {
  height: 360px;
}
/* line 1806, ../sass/main.scss */
.search_page .tovars .content .back .title {
  height: 290px;
  -webkit-align-items: center;
  align-items: center;
  padding-bottom: 0;
}
/* line 1812, ../sass/main.scss */
.search_page .tovars .content .back .bottom {
  top: 290px;
}
/* line 1813, ../sass/main.scss */
.search_page .tovars .content .block:hover .back .bottom .left_line {
  -webkit-animation-name: lineGrowBig;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s;
  /* Chrome, Safari, Opera */
  -webkit-animation-name: lineGrowBig;
  animation-name: lineGrowBig;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 1824, ../sass/main.scss */
.search_page .tovars .content .block:hover .back .bottom .right_line {
  -webkit-animation-name: lineGrowBig;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s;
  /* Chrome, Safari, Opera */
  -webkit-animation-name: lineGrowBig;
  animation-name: lineGrowBig;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 1838, ../sass/main.scss */
.equipment_page {
  background: url(../img/img_023.png) no-repeat center 76%;
}

/* line 1843, ../sass/main.scss */
.review_page {
  background: url(../img/img_024.png) no-repeat center 36%;
}
/* line 1845, ../sass/main.scss */
.review_page article {
  margin-bottom: 50px;
}
/* line 1847, ../sass/main.scss */
.review_page article p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  margin-top: 47px;
  line-height: 24px;
}
/* line 1853, ../sass/main.scss */
.review_page article .img {
  margin-top: 25px;
  text-align: center;
}

/* line 1861, ../sass/main.scss */
.option_page {
  background: url(../img/img_025.png) no-repeat center 72%;
}
/* line 1863, ../sass/main.scss */
.option_page a {
  text-decoration: underline;
}
/* line 1866, ../sass/main.scss */
.option_page .content_area {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Fira Sans', sans-serif;
}
/* line 1871, ../sass/main.scss */
.option_page .upper {
  margin-top: 30px;
  text-transform: uppercase;
}
/* line 1875, ../sass/main.scss */
.option_page .unical {
  text-transform: uppercase;
  color: #ffed00;
  margin-top: 26px;
}
/* line 1880, ../sass/main.scss */
.option_page .yellow {
  text-transform: uppercase;
  color: #ffed00;
}
/* line 1885, ../sass/main.scss */
.option_page table {
  width: 100%;
  text-align: center;
  margin-top: 60px;
  border-collapse: collapse;
}
/* line 1891, ../sass/main.scss */
.option_page table td {
  vertical-align: middle;
  border: 3px solid #fff;
}
/* line 1896, ../sass/main.scss */
.option_page .info_block {
  margin-top: 40px;
}
/* line 1898, ../sass/main.scss */
.option_page .info_block .left {
  float: left;
  width: 43%;
}
/* line 1901, ../sass/main.scss */
.option_page .info_block .left img {
  width: 100%;
  border: 3px solid #ffed00;
}
/* line 1906, ../sass/main.scss */
.option_page .info_block .right {
  float: left;
  width: 57%;
  padding-left: 20px;
}
/* line 1910, ../sass/main.scss */
.option_page .info_block .right ul {
  padding-left: 25px;
}
/* line 1912, ../sass/main.scss */
.option_page .info_block .right ul li {
  position: relative;
}
/* line 1914, ../sass/main.scss */
.option_page .info_block .right ul li:before {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 3px solid #ffed00;
  background: none;
  left: -25px;
  top: 7px;
}
