/*
Theme Name: Angular template
Author: Nikita Picovec
Author Email: nik.adrenalin@gmail.com
*/

// поддержка вендорных префиксов
@import "compass/css3";

// variables
$yellow: #ffed00;
$black: #161515;
$gray: #a4a4a4;

html {
    margin:0 !important;
}
body{
	// background: url(../img/bg.png) no-repeat center top;
	background: $black;
    margin:0;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    position: relative;
	font: 300 14px 'Open Sans', sans-serif;
    
}



* {
	@include box-sizing(border-box);
	outline: none;
}

//подключили сброс стандартных стилей
@import "reset-css.scss";





// animations
/* Chrome, Safari, Opera */
@-webkit-keyframes lineGrow {
    from {width: 0;}
    to {width: 50px;}
}

/* Standard syntax */
@-webkit-keyframes lineGrow {
    from {width: 0;}
    to {width: 50px;}
}
@keyframes lineGrow {
    from {width: 0;}
    to {width: 50px;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes lineGrowNormal {
    from {width: 0;}
    to {width: 100px;}
}

/* Standard syntax */
@keyframes lineGrowNormal {
    from {width: 0;}
    to {width: 100px;}
}


/* Chrome, Safari, Opera */
@-webkit-keyframes lineGrowBig {
    from {width: 0;}
    to {width: 100px;}
}

/* Standard syntax */
@keyframes lineGrowBig {
    from {width: 0;}
    to {width: 100px;}
}


/* Chrome, Safari, Opera */
@-webkit-keyframes lineGrowSuperBig {
    from {width: 0;}
    to {width: 270px;}
}

/* Standard syntax */
@keyframes lineGrowSuperBig {
    from {width: 0;}
    to {width: 270px;}
}


/* Chrome, Safari, Opera */
@-webkit-keyframes lineGrowMiddle {
    from {width: 0;}
    to {width: 180px;}
}

/* Standard syntax */
@keyframes lineGrowMiddle {
    from {width: 0;}
    to {width: 180px;}
}
html {
	overflow-y: scroll;
}
noskype {
	color: $black;
}

// заполнители
%before {
	content: '';
	display: block;
	position: absolute;
 }



.clearfix {
	&:after {
		content: '';
		display: block;
		clear: both;
		display: block;
	}
}
.flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	@include justify-content(center);
	@include align-items(center);
}

.visible {
	display: block!important;
}
.hide {
	display: none !important;
}

.button {
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	border: 2px solid #fff;
	padding: 7px 50px;

	&:hover {
		color: #fff;
	}
}
a.button {
	@include transition(1);
	&:hover {
		border-color: $yellow;
		background: $yellow;
		color: #000;
	}
}

.yellow_title {
	text-transform: uppercase;
	color: $yellow;
	text-align: center;
	font-family: 'Fira Sans', sans-serif;
	font-size: 24px;
	margin-top: 26px;
}
// end - yellow_title

.video {
	text-align: center;
	margin-top: 26px;
	iframe {
		border: none;
	}
}


// slider
.slick-dots {
	li {
		display: inline-block;
		button {
			position: relative;
			width: 15px;
			height: 15px;
			@include border-radius(50%);
			border: 2px solid $yellow;
			color: #fff;
			margin: 0 22px;
			padding: 0;

			&:after {
			    content: '';
			    display: block;
			    position: absolute;
			    width: 46px;
			    height: 3px;
			    top: 50%;
			    margin-top: -2px;
			    right: 100%;
			    background: $yellow;
			}
			&:last-child {
				&:before {
				    content: '';
				    display: block;
				    position: absolute;
				    width: 46px;
				    height: 3px;
				    top: 50%;
				    margin-top: -2px;
				    right: -46px;
				    background: $yellow;
				}
			}
		}
	}
	li.slick-active {
		button {
			background: $yellow;
		}
	}
}
// end - slider


.form {
	font-family: 'Fira Sans', sans-serif;
	.corner_hover {
		margin-bottom: 25px;
		padding: 5px;
		input {
			background: none;
			border: none;
			font-size: 14px;
			width: 90%;
			color: #fff;

			&::-webkit-input-placeholder {color: #fff;font-family: 'Fira Sans', sans-serif;}
			&::-moz-placeholder {color: #fff;font-family: 'Fira Sans', sans-serif;}
			&:-moz-placeholder {color: #fff;font-family: 'Fira Sans', sans-serif;}
			&:-ms-input-placeholder {color: #fff;font-family: 'Fira Sans', sans-serif;}

			&:focus {
				&::-webkit-input-placeholder {color: $black;}
				&::-moz-placeholder {color: $black;}
				&:-moz-placeholder {color: $black;}
				&:-ms-input-placeholder {color: $black;}
			}
		}
		
	}
	input[type="submit"] {
		background: $yellow;
		text-transform: uppercase;
		margin-top: 5px;
		padding: 6px 34px;
		padding-top: 9px;
		border: none;

		&:hover {
			background: #fff;
		}
	}
	
}
// end - form


// заказать звонок
.modal {
	display: none;
	position: fixed;
	background: rgba(0, 0, 0, 0.8);
	left: 0;right: 0;top: 0;bottom: 0; 
	z-index: 1000;
	.block_wrap {
		z-index: 101;
		position: absolute;
		left: 0;right: 0;top: 0;bottom: 0; 
		display: -webkit-flex; 
		display: -ms-flexbox; 
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		.block {
			text-align: center;
			padding: 30px 70px;
			background: $black;
			border: 3px solid #fff;
			h2 {
				text-transform: uppercase;
				margin-bottom: 30px;
				position: relative;
				font-size: 24px;
				color: $yellow;
				&:before {
					@extend %before;
					width: 5px;
					height: 5px;
					border-radius: 50%;
					border: 3px solid #ffed00;
					background: none;
					right: -20px;
					top: 12px;
				}
				&:after {
					@extend %before;
					width: 5px;
					height: 5px;
					border-radius: 50%;
					border: 3px solid #ffed00;
					background: none;
					left: -20px;
					top: 12px;
				}
			}
		}
	}
}
// end - заказать звонок


.title_wrap {
	clear: both;
	text-align: center;
	h1 {
		display: inline-block;
		position: relative;
		text-transform: uppercase;
		text-align: center;
		font-size: 29px;
		margin-top: 45px;
		span.first {
			position: relative;
			display: inline;
			width: 1px;
			color: $black;
			&:before {
				@extend %before;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				border: 3px solid #ffed00;
				background: none;
				left: -17px;
				top: 14px;
			}
		}
		span.last {
			position: relative;
			display: inline;
			width: 1px;
			color: $black;
			&:after {
				@extend %before;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				border: 3px solid #ffed00;
				background: none;
				right: -14px;
				top: 16px;
			}
		}
		
	}
}
// title_wrap

.corner_hover {
	border: none;
	
	position: relative;

	&:hover {
		.left_top {
			left: 3px;
			top: 3px;
		}
		.left_bottom {
			left: 3px;
			bottom: 3px;
		}
		.right_top {
			right: 3px;
			top: 3px;
		}
		.right_bottom {
			right: 3px;
			bottom: 3px;
		}
	}
	.left_top, .left_bottom, .right_top, .right_bottom {
		position: absolute;
		width: 10px;
		height: 10px;
		@include transition(all 0.4s ease-out 0.2s);
	}
	.left_top {
		left: 0;
		top: 0;
		border-left: 2px solid $yellow;
		border-top: 2px solid $yellow;
	}
	.left_bottom {
		bottom: 0;
		left: 0;
		border-left: 2px solid $yellow;
		border-bottom: 2px solid $yellow;
		width: 10px;
		height: 10px;
	}
	.right_top {
		top: 0;
		right: 0;
		border-top: 2px solid $yellow;
		border-right: 2px solid $yellow;
	}
	.right_bottom {
		bottom: 0;
		right: 0;
		border-bottom: 2px solid $yellow;
		border-right: 2px solid $yellow;
	}
}
// end - corner_hover


.breadcrums {
	margin-top: 33px;
	ul {
		li {
			display: inline-block;
			position: relative;
			margin-right: 16px;

			&:before {
				@extend %before;
				width: 4px;
				height: 4px;
				background: $yellow;
				right: -10px;
				top: 9px;
			}
			&:last-child:before {
				display: none;
			}
			&:hover a {
				color: $yellow;
			}
			a.active {
				color: $yellow;
			}
		}
	}
}
// end - breadcrums


.wrapper {
	overflow: hidden;
	padding-bottom: 50px;
}
.container {
	width: 1280px;
	margin: auto;
	position: relative;
}

.header {
	background: $black;
}
header {
	text-transform: uppercase;
	position: relative;
	border-bottom: 3px solid $yellow;
	.logo {
		display: block;
		  text-indent: -9999px;
		position: relative;
		width: 180px;
		height: 60px;
		background: $yellow;
		float: left;

		img {
			position: absolute;
			bottom: -21px;
			left: 50%;
			@include transform(translate(-50%, 0));
			background: url(../img/img_001.png) no-repeat center;
		}
	}

	.search_toogle {
		cursor: pointer;
		margin-top: 20px;
		margin-left: 42px;
		float: left;
		width: 25px;
		height: 25px;
		background: url(../img/img_002.png) no-repeat center;

	}
	.close_search {
		background: url(../img/img_015.png) no-repeat center;
	}
	.custom_select {
		cursor: pointer;
		position: relative;
		float: left;
		margin-top: 21px;
		margin-left: 40px;
		background: none;
		border: none;
		color: #fff;

		&:after {
			content: '';
			display: block;
			display: block;
			position: absolute;
			width: 18px;
			height: 10px;
			left: 50%;
			@include transform(translate(-50%, 0));
			background: url(../img/img_003.png) no-repeat center;
		}
		.all_optionns {
			display: none;
			position: absolute;
			border: 2px solid $yellow;
			background-color: $black;
			padding: 6px;
			min-width: 60px;
			text-align: center;
			z-index: 10;
			top: 20px;
			left: 50%;
			@include transform(translate(-50%, 0));

			li {
				cursor: pointer;
				vertical-align: middle;
    			line-height: 1.2;
				&:hover {
					color: $yellow;
				}
			}
		}
		
	}
}
// end - header

.search_wrap {
	position: relative;
	float: left;
	overflow: hidden;
	nav {
		margin-top: 15px;
		margin-left: 60px;
		float: left;
		ul {
			li {
				display: inline-block;
				text-align: center;
				margin: 0 28px;
				vertical-align: top;
				a {
					color: #fff;
				}

				&:hover > a {
					color: $yellow;
				}
	
				&:last-child {
					margin-right: 0;
					line-height: 2;
				}
				&:first-child {
					margin-left: 0;
				}
			}
		}
	}
	button.button {
		float: left;
		margin-top: 16px;
		margin-left: 56px;
		padding: 6px 18px;
	}
	form {
		display: none;
		position: absolute;
		left: 0;right: 0;top: 0;bottom: 0; 
		padding: 10px;
		input {
			text-align: center;
			display: none;
			position: absolute;
			left: 100%;right: 0;top: 0;bottom: 0; 
			border: none;
			background: #6A6A6A;
			width: 100%;
			color: #fff;
			margin: 6px 30px;
			margin-bottom: 0;
			margin-left: 7px;
			font-size: 16px;
			padding: 0 30px;
			height: 100%;
			
			&::-webkit-input-placeholder {color: #fff;font-family: 'Fira Sans', sans-serif;}
			&::-moz-placeholder {color: #fff;font-family: 'Fira Sans', sans-serif;}
			&:-moz-placeholder {color: #fff;font-family: 'Fira Sans', sans-serif;}
			&:-ms-input-placeholder {color: #fff;font-family: 'Fira Sans', sans-serif;}
		}
	}
}
// end - search_wrap



.main_block {
	position: relative;
	background-size: cover;
	background: url(../img/img_004.jpeg) no-repeat center;
	padding: 136px 0;
	text-align: center;

	.container {
		z-index: 100;
	}

	&:after {
		display: block;
		content: '';
		display: block;
		position: absolute;
		left: 0;right: 0;top: 0;bottom: 0; 
		z-index: 1;
		background: rgba(0, 0, 0, 0.8);
	}
	.slider_wrap {
		position: relative;
		width: 825px;
		margin: auto;

		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			border-left: 3px solid $yellow;
			border-top: 3px solid $yellow;
			width: 70px;
			height: 70px;
			display: block;
		}
		&:after {
			content: '';
			display: block;
			bottom: 0;
			left: 0;
			position: absolute;
			border-left: 3px solid $yellow;
			border-bottom: 3px solid $yellow;
			width: 70px;
			height: 70px;

		}

		.main_slider {
			position: relative;
			padding: 40px;

			&:before {
				content: '';
				display: block;
				top: 0;
				right: 0;
				position: absolute;
				border-top: 3px solid $yellow;
				border-right: 3px solid $yellow;
				width: 70px;
				height: 70px;
				display: block;
			}
			&:after {
				content: '';
				display: block;
				bottom: 0;
				right: 0;
				position: absolute;
				border-bottom: 3px solid $yellow;
				border-right: 3px solid $yellow;
				width: 70px;
				height: 70px;
				display: block;
			}
			
			h2 {
				text-transform: uppercase;
			}
			p {
				margin-top: 13px;
				font-size: 18px;
			}
			.button {
				margin-top: 57px;
			}
			.slick-dots {
				position: absolute;
				bottom: -11px;
				left: 50%;
				@include transform(translate(-50%, 0));
			}
		}
	}
}
// end - main_block


.mark_block {
	position: relative;
	border-top: 3px solid $yellow;
	border-bottom: 3px solid $yellow;
	height: 95px;
	.block {
		z-index: 100;
		background: $black;
		position: absolute;
		left: 50%;
		width: 265px;
		height: 265px;
		border-radius: 50%;
		border: 3px solid $yellow;
		text-align: center;
		@include transform(translate(-50%, -32%));
		h3 {
			margin-top: 60px;
			text-transform: uppercase;
			font-size: 29px;
		}
		p {
			margin-top: 20px;
		}
	}

}
// end - mark_block

.tovars {
	margin-top: 110px;
	.content {
		width: 745px;
		margin: auto;
		.block {
			height: 253px;
			width: 33.333%;
			position: relative;
		  	overflow: hidden;
		  	z-index: 2;
			border: 2px solid $black;
			float: left;
			&:hover .front{
				@include transform(rotateY(180deg));
			}

			&:hover .back {
				@include transform(rotateY(0));
				.bottom {
					.left_line {
						-webkit-animation-name: lineGrow; /* Chrome, Safari, Opera */
						    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
						    -webkit-animation-name: lineGrow;
						            animation-name: lineGrow;
						    -webkit-animation-duration: 2s;
						            animation-duration: 2s;

						    -webkit-animation-fill-mode:both;
						    animation-fill-mode:both;
					}
					.right_line {
						-webkit-animation-name: lineGrow; /* Chrome, Safari, Opera */
						    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
						    -webkit-animation-name: lineGrow;
						            animation-name: lineGrow;
						    -webkit-animation-duration: 2s;
						            animation-duration: 2s;

						   -webkit-animation-fill-mode:both;
						   animation-fill-mode:both;
					}
				}
				
			}
			
			.cont_wrap {
				@include transform-style(rotateY(preserve-3d));
				position: relative;	
				.front,
				.back {
					@include backface-visibility(hidden);
					@include transition(0.3s);
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 250px;
				}
			}
		}
		

		.front {
			top: 0;
			  	z-index: 2;
				padding-top: 50px;

			// cursor: pointer;
			width: 33.333%;
			float: left;
			text-align: center;
			height: 250px;
			padding: 1px;
			img {
				width: 100%;
				height: auto;
				min-height: 280px;
			}
			
		}
		.back {
		  	@include transform(rotateY(-180deg));
		  	z-index: 1;
		  	background-color: #2cb4e8;
		  	text-align: center;
			position: relative;
			border: 2px solid #fff;
			background: $black;
			width:100%;
			height:100%;
			z-index:-1;
			@include transition(all 0.5s);
			.title {
				position: relative;
				height: 200px;
				@include align-items(flex-end);
				padding-bottom: 30px;
				h3 {
					line-height: 21px;
					text-transform: uppercase;
					font-style: 16px;
				}
				a {
					display: block;
					bottom: -10px;
					left: 50%;
					@include transform(translate(-50%, 0));
					background: $black;
					position: absolute;
					padding: 0 30px;
					color: #fff;
				}
			}
			.bottom {
				position: absolute;
				top: 200px;
				left: 0;
				right: 0;
				bottom: 0;
				.left_line {
					position: absolute;
					top: 0;
					left: 0;
					width: 0;
					border-top: 2px solid;

					&:after {
						content: '';
						display: block;
						display: block;
						position: absolute;
						margin-top: -5px;
						width: 6px;
						height: 6px;
						border: 2px solid #fff;
						@include border-radius(50%);
						top: 50%;
						right: -9px;
					}
				}
				.right_line {
					position: absolute;
					top: 0;
					right: 0;
					width: 0;
					border-top: 2px solid;

					&:after {
						content: '';
						display: block;
						display: block;
						position: absolute;
						margin-top: -5px;
						width: 6px;
						height: 6px;
						border: 2px solid #fff;
						@include border-radius(50%);
						top: 50%;
						left: -8px;
					}
				}
			}
		}
		.big {
			width: 66.667%;
		}
		.big:hover  .back   .bottom .right_line, .big:hover    .back  .bottom .left_line  {
			-webkit-animation-name: lineGrowSuperBig!important; /* Chrome, Safari, Opera */
		    animation-name: lineGrowSuperBig!important;
		}
		.middle {
			width: 50%;
		}
		.middle:hover  .back   .bottom .right_line, .middle:hover    .back  .bottom .left_line  {
			-webkit-animation-name: lineGrowMiddle!important; /* Chrome, Safari, Opera */
		    animation-name: lineGrowMiddle!important;
		}
	}
}
// end - mark_block


.projects {
	position: relative;
	margin-top: 68px;
	.container {
		position: relative;
		.top_line {
			position: absolute;
			top: 83px;
			left: 0;
			border-top: 3px solid $yellow;
			z-index: 5;
		}
		.right_line {
			position: absolute;
			top: 83px;
			left: 95%;
			border-right: 3px solid $yellow;
			z-index: 5;
		}
		.bottom_line {
			position: absolute;
			top: 657px;
			right: 61px;
			border-top: 3px solid $yellow;
			z-index: 5;
			.circle {
				display: none;
				position: absolute;
				top: 50%;
				margin-top: -6px;
				left: -9px;
				width: 10px;
				height: 10px;
				@include border-radius(50%);
				border: 3px solid $yellow;
			}
			
		}
	}
	.head {
		padding: 13px 31px;
	    color: $black;
	    width: 430px;
	    background: $yellow;
	    
		h2 {
			font-size: 27px;
			text-transform: uppercase;
		}
		p {
			margin-top: 3px;
			text-align: center;
		}
	}
	.slider_wrap {
		position: relative;
		height: 100%;
		width: 100%;
		svg {
			position: absolute;
			left: -3px;right: -3px;top: -3px;bottom: -3px;
			z-index: 1;
		}
	}
	.projects_slider {
		position: relative;
		z-index: 3;
		.slick-dots {
			position: absolute;
			bottom: 16px;
			left: 50%;
			@include transform(translate(-50%, 0));
		}
		.block {
			position: relative;
			min-height: 520px;
			.overlay {
				padding: 30px 40px;
				position: absolute;
				top: 0;
				width: 51%;
				right: 7%;
				background: rgba(0, 0, 0, 0.8);
				text-align: center;
				.trigger {
					cursor: pointer;
					position: absolute;
					top: 10px;
					right: 25px;
					padding: 4px;
					font-size: 12px;

					&:before {
						content: '';
						display: block;
						position: absolute;
						top: 6px;
						right: -16px;
						width: 15px;
						height: 15px;
						background: url(../img/img_003.png) no-repeat center;
						@include transform(rotate(-90deg));
					}
				}
				h3 {
					text-transform: uppercase;
					color: $yellow;
					font-size: 24px;
				}
				b {
					font-family: 'Fira Sans', sans-serif;
					font-size: 18px;
					font-weight: normal;
					margin-top: 21px;
					display: block;
					line-height: 26px;
					margin-bottom: 27px;
				}
				p {
					font-size: 16px;
					margin-top: 20px;
					line-height: 23px;
					padding-left: 47px;
					padding-right: 22px;
					text-align: left;
					font-family: 'Fira Sans', sans-serif;
				}
			}
			.folded {
				.trigger {
					top: 18px;
					right: 45%;
				}
			}
		}
	}
}
// end - projects


.about_company {
	margin-top: 50px;
	margin-top: 41px;
	padding-bottom: 40px;
	.block {
		background: url(../img/img_005.png) no-repeat left 23px;
		padding-left: 38%;
		padding-right: 50px;
		h2 {
			text-transform: uppercase;
		}
		p {
			font-family: 'Fira Sans', sans-serif;
			margin-top: 32px;
			font-size: 16px;
			line-height: 26px;
		}
		a {
			position: relative;
			display: inline-block;
			margin-top: 38px;
			text-transform: uppercase;
			color: #fff;
			font-size: 17px;

			&:after {
				content: '';
				display: block;
				position: absolute;
				z-index: 1;
				background: url(../img/img_003.png) no-repeat center;
				display: block;
				width: 18px;
				height: 10px;
				left: 50%;
				@include transform(translate(-50%, 0));
				bottom: -15px;
			}
		}
	}
}
// end - about_company


footer {
	margin-top: 56px;
	.container {
		padding: 15px 90px;
		position: relative;

		.title {
			color: $yellow;
		}

		.top_line {
			position: absolute;
			top: 0;
			left: 50%;
			@include transform(translate(-50%, 0));
			border-top: 3px solid $yellow;
			z-index: 5;
		}
		.left_line {
			position: absolute;
			top: 0;
			left: 0;
			border-left: 3px solid $yellow;
			z-index: 5;
		}
		.right_line {
			position: absolute;
			top: 0;
			right: 0;
			border-right: 3px solid $yellow;
			z-index: 5;
		}
		.right_bottom_line {
			position: absolute;
			bottom: 0;
			right: 0;
			border-bottom: 3px solid $yellow;
			z-index: 5;
			.circle {
				display: none;
				position: absolute;
				top: 50%;
				margin-top: -4px;
				left: -9px;
				width: 10px;
				height: 10px;
				@include border-radius(50%);
				border: 3px solid $yellow;
			}
		}
		.left_bottom_line {
			position: absolute;
			bottom: 0;
			left: 0;
			border-bottom: 3px solid $yellow;
			z-index: 5;
			.circle {
				display: none;
				position: absolute;
				top: 50%;
				margin-top: -4px;
				right: -9px;
				width: 10px;
				height: 10px;
				@include border-radius(50%);
				border: 3px solid $yellow;
			}
		}

		.created {
			z-index: 1;
			position: absolute;
			left: 50%;
			bottom: -12px;
			@include transform(translate(-50%, 0));
		}
		.block {
			float: left;
			width: 27%;
			padding-right: 20px;
			.title {
				font-size: 17px;
				text-transform: uppercase;
				font-family: 'Fira Sans', sans-serif;
			}
			ul {
				margin-top: 6px;
				li {
					line-height: 18px;
					color: #fff!important;
					a {
						font-size: 12px;
						word-spacing: 4px;
						color: #fff;
					}
				}
			}

			&:first-child {
				padding-left: 0;
			}
			&:nth-of-type(2) {
				width: 31%;
			}
			&:nth-of-type(3) {
				width: 20%;
			}
			&:last-child {
				width: 19%;
			}

			img {
				margin-top: 16px;
			}
		}
	}
}
// end - footer

.error_page {
	.error_block {
		background: url(../img/img_022.png) no-repeat center 43px;
		font-family:  'Fira Sans', sans-serif;
		padding-top: 572px;
		text-align: center;
		    font-style: italic;
		    font-size: 16px;
		a {	
			text-transform: uppercase;
			color: $yellow;
		}
	}
}
// end - error_page


.content_area {
	padding: 0 40px;
	margin: 0 40px;
	background: rgba(22, 21, 21, 0.8);
	.img {
		margin-top: 53px;
		max-width: 100%;
	}
	.text {
		font-family: 'Fira Sans', sans-serif;
		margin-top: 26px;
		line-height: 26px;
		font-size: 16px;
	}
}

.animate_article {
	position: relative;
    padding-top: 51px;
  	background: url(../img/img_021.png) no-repeat 105% 46px;
  	.top_line {
  		position: absolute;
  		top: 65px;
  		right: 693px;
  		border-top: 3px solid $yellow;
  		z-index: 5;
  	}
  	.left_line {
  		position: absolute;
  		top: 65px;
  		left: -37px;
  		border-left: 3px solid $yellow;
  		z-index: 5;
  		.circle {
  			display: none;
  			position: absolute;
  			bottom: -9px;
  			left: -6px;
  			width: 10px;
  			height: 10px;
  			@include border-radius(50%);
  			border: 3px solid $yellow;
  		}
  	}
	h2 {
		text-align: center;
		text-transform: uppercase;
		font-size: 22px;
	}
	.text {
		font-family: 'Fira Sans', sans-serif;
		margin-top: 42px;
		padding-right: 225px;
		line-height: 26px;
		font-size: 16px;
	}
}

.done_project_page {
	.tovars {
		margin-top: 58px;
		.content {
			width: 81%;
			.block {
				height: 345px;

				&:hover {
					.back {
						.bottom {
							.left_line {
								-webkit-animation-name: lineGrowBig; /* Chrome, Safari, Opera */
								    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
								    -webkit-animation-name: lineGrowBig;
								            animation-name: lineGrowBig;
								    -webkit-animation-duration: 2s;
								            animation-duration: 2s;

								    -webkit-animation-fill-mode:both;
								    animation-fill-mode:both;
							}
							.right_line  {
								-webkit-animation-name: lineGrowBig; /* Chrome, Safari, Opera */
								    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
								    -webkit-animation-name: lineGrowBig;
								            animation-name: lineGrowBig;
								    -webkit-animation-duration: 2s;
								            animation-duration: 2s;

								    -webkit-animation-fill-mode:both;
								    animation-fill-mode:both;
							}
						}
					}
				}
				.cont_wrap {
					.front {
						height: 341px;
					}
					.back {
						height: 341px;
						.title {
							height: 284px;
							padding-bottom: 90px;
							h3 {
								font-family: 'Fira Sans', sans-serif;
								line-height: 35px;
							}
							a {
								bottom: -8px;
							}
						}
						.bottom {
							top: 281px;
							.left_line {
								border-top: 3px solid;
							}
							.right_line  {
								border-top: 3px solid;
							}
						}
					}
				}
			}
		}
	}

	.content_area {
		margin-bottom: 80px;
	}
}
// end - done_project_page

.for_factory_page {
	.content_area {
		background: none;
	}
	.tovars {
		margin-top: 56px;
			.content {
			width: 86%;
			.block {
				height: 280px;
			}
		}
	}
	.tovars .content .block .cont_wrap .front, .tovars .content .block .cont_wrap .back {
		height: 276px;
	}
	.container_for_animArticle {
		background: url(../img/img_016.png) no-repeat 93% 67px;
	}
	.animate_article {
		background: none;
		padding-left: 51px;
		padding-right: 70px;
	}
	.tovars {
		.block:hover  .back   .bottom .right_line, .block:hover    .back  .bottom .left_line  {
			-webkit-animation-name: lineGrowNormal; /* Chrome, Safari, Opera */
		    animation-name: lineGrowNormal;
		}
	}

	.content_area {
		margin-bottom: 100px;
		.text {
			font-family: 'Fira Sans', sans-serif;
			margin-top: 26px;
			line-height: 26px;
			font-size: 16px;
		}
	}
}
// end - for_factory_page

.breadcrums {
	ul {
		float: left;
	}
	.back {
		float: right;
		display: inline-block;
		padding-left: 35px;
		margin-right: 85px;
		background: url(../img/img_101.png) no-repeat 5px 5px;
	}
}
// end - breadcrums


.trek {
	padding: 0 14px;
	margin-top: 70px;
	.prev {
	display: block;
	float: left;
	padding-left: 35px;
	background: url(../img/img_105.png) no-repeat 11px 4px;
	}

	.next {
		display: block;
		float: right;
		padding-right: 35px;
		background: url(../img/img_104.png) no-repeat 83px 4px;
	}
}

.executed-project {
	

	.container-slider {
    		width: 1056px;
    		margin: 0 auto;

    		.slider_wrap {
				width: 1056px;
				height: auto;
    			margin: 26px auto 36px;
    			overflow: hidden;
			}

			.main_slider {
				position: relative;

				.slick-dots {
					position: relative;
					top: -35px;
					text-align: center;
				}
			}
    }

	

	.title {
		color: $yellow;
	}
}
// end - executed-project

.wrapper .breadcrums .back {
	margin-right: 110px;		
}

.contacts-page {
	.map {
		position: relative;
		width: 100%;
    	height: 540px;
    	margin: 46px auto 10px;
    	overflow: hidden;

    	iframe {
    		position: absolute;
			left: 0px;
			right: 0px;
			bottom: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
    	}

    	.contacts-wrapper {
    		position: absolute;
    		top: 0;
    		left: 105px;
    		background: #373635;
    		opacity: .85;
    		width: 340px;
    		height: 100%;

    			h2 {
    				margin-bottom: 10px;
    			}

    			.block {
    				text-align: center;
    				font-family:  'Fira Sans', sans-serif;
    				margin-bottom: 6px;
    				padding-top: 15px;

    				li {
    					color: #fff;
    					font-size: 17px;
    					line-height: 1.2;
    				}

    				.time-work {
    					margin-top: 19px;
    				}
    			}

    			form.block {
    				margin: 0;
    			}

    			.title {
					color: $yellow;
					text-align: center;
					font-size: 17px;
					text-transform: uppercase;
					margin-bottom: 11px;
				}
	
				.corner_hover {
					width: 72%;
					margin: 0 auto 25px;
					input[type="tel"], input[type="text"] {
						width: 86%;
					}
				}

				input[type="submit"] {
						margin-top: 0;
						padding: 6px 49px;
					}
    	}
	}

}
// end - contacts

.article-page {
	h1 {
		margin-bottom: 40px;
	}
	.article {
		height: 326px;
		margin-bottom: 44px;
		border: 1px solid $yellow;

		.left_col {
			float: left;
			width: 429px;
			overflow: hidden;

			img {
				width: 100%;
				height: auto;
			}
		}

		.right_col {
			position: relative;
			float: right;
			width: 848px;
			text-align: center;
			padding-top: 44px;

			h1 {
				margin-bottom: 40px;
				font: 24px/35px 'Fira Sans', sans-serif;
				text-transform: uppercase;
				color: $yellow;
			}

			.article-date {
				position: absolute;
				left: 35px;
				top: 106px;
				font-size: 14px;
 				font-family: 'Fira Sans', sans-serif;
 				color: $gray;
			}

			p {
				text-align: left;
				margin-bottom: 30px;
				padding-left: 35px;
				line-height: 29px;
				height: 85px;
				overflow: hidden;
			}
			
			a {
				display: inline-block;
				margin-left: 20px;
				padding-right: 30px;
				background: url(../img/img_106.png) right center no-repeat;
				font-size: 17px;
 				font-family: 'Open Sans', sans-serif;
 				text-transform: uppercase;
			}
		}
	}

	

	footer {
		margin-top: 40px; 

		.container {
			width: 1255px;
		}
	}

} // end - article

.pagination {
	text-align: center;
	margin-top: 52px;

	li {
		display: inline-block;
		min-width: 27px;
		height: 27px;
		text-align: center;
		margin: 0 4px;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			.prev {
				padding-left: 30px;
				background: url(../img/img_105.png) left center no-repeat;
			}

			.next {
				padding-right: 30px;
				background: url(../img/img_104.png) right center no-repeat;
			}
		}

	.corner_hover {
				position: relative;
				padding: 5px;

				a {
				text-align: center;
				}

			 	.left_top, .left_bottom, .right_top, .right_bottom {
					position: absolute;
					height: 5px;
					width: 5px;
				}

				.left_top {
					left: 0;
					top: 0;
					border-left: 2px solid $yellow;
					border-top: 2px solid $yellow;
				}
				.left_bottom {
					bottom: 0;
					left: 0;
					border-left: 2px solid $yellow;
					border-bottom: 2px solid $yellow;
				}
				.right_top {
					top: 0;
					right: 0;
					border-top: 2px solid $yellow;
					border-right: 2px solid $yellow;
				}
				.right_bottom {
					bottom: 0;
					right: 0;
					border-bottom: 2px solid $yellow;
					border-right: 2px solid $yellow;
				}
	  }
} // end - pagination


.search_page {
	.search {
		width: 835px;
		margin: 58px auto 0;
		.title {
			float: left;
			text-transform: uppercase;
			padding-top: 10px;
			color: $yellow;
		}
		form {
			width: 87%;
			float: right;
			input[type="text"] {
				width: 85%;
				background: none;
				border: 2px solid $yellow;
				height: 38px;
				text-transform: uppercase;
				padding: 0 15px;
				color: #fff; 
			}
			input[type="submit"] {
				text-transform: uppercase;
				background: $yellow;
				width: 15%;
				height: 38px;
				border: none;
				margin-left: -5px;
			}
		}
	}
	.tovars {
		margin-top: 132px;
		.content  {
			width: 1075px;
			.block {
				cursor: inherit;
				height: 364px;
				.front {
					img {
						width: auto;
						height: 360px;
						left: 50%;
						position: absolute;
						@include transform(translate(-50%, 0));
					}
				}
			}
		}
	}

	.tovars .content .block .cont_wrap .front, .tovars .content .block .cont_wrap .back {
		height: 360px;
	}
	.tovars .content .back .title {
		height: 290px;
		-webkit-align-items:center;
		align-items: center;
		padding-bottom: 0;
	}
	.tovars .content .back .bottom {top: 290px;}
	.tovars .content .block:hover .back .bottom .left_line {
		-webkit-animation-name: lineGrowBig; /* Chrome, Safari, Opera */
		    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
		    -webkit-animation-name: lineGrowBig;
		            animation-name: lineGrowBig;
		    -webkit-animation-duration: 2s;
		            animation-duration: 2s;

		    -webkit-animation-fill-mode:both;
		    animation-fill-mode:both;
	}
	.tovars .content .block:hover .back .bottom .right_line {
		-webkit-animation-name: lineGrowBig; /* Chrome, Safari, Opera */
		    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
		    -webkit-animation-name: lineGrowBig;
		            animation-name: lineGrowBig;
		    -webkit-animation-duration: 2s;
		            animation-duration: 2s;

		   -webkit-animation-fill-mode:both;
		   animation-fill-mode:both;
	}
} // end - search_page


.equipment_page {
	background: url(../img/img_023.png) no-repeat center 76%;
} // end - search_page


.review_page {
	background: url(../img/img_024.png) no-repeat center 36%;
	article {
		margin-bottom: 50px;
		p {
			font-family: 'Fira Sans', sans-serif;
			font-size: 16px;
			margin-top: 47px;
			line-height: 24px;
		}
		.img {
			margin-top: 25px;
			text-align: center;
		}
	}
} // end - search_page


.option_page {
	background: url(../img/img_025.png) no-repeat center 72%;
	a {
		text-decoration: underline;
	}
	.content_area {
		font-size: 16px;
		line-height: 24px;
		font-family: 'Fira Sans', sans-serif;
	}
	.upper {
		margin-top: 30px;
		text-transform: uppercase;
	}
	.unical {
		text-transform: uppercase;
		color: $yellow;
		margin-top: 26px;
	}
	.yellow {
		text-transform: uppercase;
		color: $yellow;
		
	}
	table {
		width: 100%;
		text-align: center;
		margin-top: 60px;
		border-collapse: collapse;
		
		td {
			vertical-align: middle;
			border: 3px solid #fff;
		}
	}
	.info_block {
		margin-top: 40px;
		.left {
			float: left;
			width: 43%;
			img {
				width: 100%;
				border: 3px solid $yellow;
			}
		}
		.right {
			float: left;
			width: 57%;
			padding-left: 20px;
			ul {
				padding-left: 25px;
				li {
					position: relative;
					&:before {
						@extend %before;
						width: 6px;
						height: 6px;
						border-radius: 50%;
						border: 3px solid #ffed00;
						background: none;
						left: -25px;
						top: 7px;
					}
				}
			}
		}
	}
} // end - search_page
