img{border-style:none;}
input,
textarea,
select{
    color:#3c3e3e;
    vertical-align:middle;
    font:100% Raleway, sans-serif;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"]{
    -webkit-appearance:none;
    cursor:pointer;
}
form,fieldset{
    margin:0;
    padding:0;
    border-style:none;
}
blockquote, q{quotes: none;}
q:before,
q:after {content: '';}
a{  color: #fff; 
    text-decoration:none;
    letter-spacing: initial; 
    &:hover {
      color: #fff; 
      text-decoration: none;
    }
}

img {vertical-align: top;}
a:focus,
input:focus,
textarea:focus,
select:focus{outline:none;}
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
p, h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
button {
	border: 2px solid #444;
	text-transform: uppercase;
	padding: 9px 24px;
	background: none;
}
ul {
	list-style: none;	
	padding: 0;
}